<div class="span-6">
    <%= form_for [@project], url: project_path(@project.id), html: { class: 'form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :body, rows: 3 %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :body, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :body, rows: 8 %>
        </div>
      </div>
        <%= hidden_field_tag :project_id, value: @project.id %>
      <div class="control-group">
        <div class="control-label">Collaborators</div>
        <div class="controls">
          <ul>
            <% @project.users.each do |collaborator| %>
              <li><%= collaborator.email %></li>
            <% end %>
          </ul>
        </div>
      </div>
        <div class="control-group">
          <%= label_tag "Collaborators", nil, class: 'control-label' %>
          <div class="controls">
            <%= select_tag :user_id, options_for_select(User.all.map { |u| [u.email, u.id] }) %> 
          </div>
        </div>
        <%= link_to "Add Collaborator", collaborations_path(project_id: @project.friendly_id, user_id: :user_id), method: :post, class: "controls" %>

      <div class="control-group">
        <%= f.label :private, class: 'control-label' %>
        <div class="controls">
          <%= f.check_box :private %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <% if Project.new %>
            <%= f.submit "Save", name: "new_project", class: 'btn' %>
          <% else %>
            <%= f.submit "Save", name: "update_project", class: 'btn' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>