      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <% if project.private %>
              <i class="fa fa-lock"></i>
            <% end %>
            <%= link_to project.title, project %>
          </h4>
          <small>
            <%= project.description %>
          </small><br>
          <small>
            <% if project.user %>
            <%= image_tag(project.user.avatar.tiny.url) if project.user.avatar? %>
            updated <%= time_ago_in_words(project.created_at) %> ago by
            <%= link_to project.user.name, project.user %>
            <% end %>
          </small>
        </div>
      </div>


